#root {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  line-height: 1.5;
  text-decoration: none;
  list-style: none;
  overflow-wrap: break-word;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  h1 {
    margin: 0;
    padding: 0;
  }
}
