@use "/src/variables";

.headline {
  margin: auto;
  margin-top: 5rem;
  width: 80vw;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &_filter_select {
    height: 2em;
    width: 160px;
  }
}
